/* colors */
:root {
    --white: #fff;
    --black: #000;
    --primary: #1c1c67;
    --secondary: #e6f2ff;
    --tertiary: #707070;
    --primary-opacity: #1c1c6750;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
input::before{
    content: '';
    background-color: red;
    width: 5px;
    height: 100%;
}
img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/* class */
.bg__secondary{
    background:var(--primary-opacity) !important;
}
.carpet {
    top: 53%;
}
.zIndex1 {
    z-index: 1;
}
.zIndex2 {
    z-index: 2;
}
.bar{
    transition: all .5s ease-in-out;
}
.bar:hover{
    cursor: pointer;
}
.mainBtn{
    background-color: #e6f2ff;
    width:10%;
}
.noMainBtn{
    width:5%;
}
/* id */
#first-bar{
    content:'';
}
#second-bar{
    content:'';
}
#third-bar{
    content:'';
}
#heroImage{
    background-image: url("../../assets/img/undraw_awesome_rlvy-min.png");
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    opacity:0;
}

/* responsive */
@media only screen and (min-width: 3000px){
    #description{
        font-size:42px !important; 
    }
}
@media only screen and (min-width: 1921px){
}
@media only screen and (max-width: 1620px){
    .carpet{
        top:57%;
    }
    #description{
        font-size:17px !important; 
    }
}
@media only screen and (max-width: 1440px){

    #description{
        font-size:16px !important; 
    }
}
@media only screen and (max-width: 1366px){
    .carpet{
        top:59%;
    }
}
@media only screen and (max-width: 1280px){

    #description{
        font-size:13px !important; 
    }
}