.pr-3 {
    padding-right: 1rem !important;
}

.ml-3 {
    margin-left: 1rem !important;
}
.mr-3 {
    margin-right: 1rem !important;
}
.mt-3 {
    margin-top: 1rem !important;
}
.mb-3 {
    margin-bottom: 1rem !important;
}
.ml-5 {
    margin-left: 3rem !important;
}
.mr-5 {
    margin-right: 3rem !important;
}
.mt-5 {
    margin-top: 3rem !important;
}
.mb-5 {
    margin-bottom: 3rem !important;
}
.ml-0 {
    margin-left: 0 !important;
}
.mr-0 {
    margin-right: 0 !important;
}
.mt-0 {
    margin-top: 0 !important;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.ml-1 {
    margin-left: 0.25rem !important;
}
.mr-1 {
    margin-right: 0.25rem !important;
}
.mt-1 {
    margin-top: 0.25rem !important;
}
.mb-1 {
    margin-bottom: 0.25rem !important;
}

/*
 * Sidebar
 */
 .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 100px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 0.5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: 0.75rem;
    text-transform: uppercase;
}

.marginLeftDesktop {
    margin-left: 2.5rem !important;
}

@media screen and (max-width: 1200px) {
    .marginLeftDesktop {
        margin-left: 0 !important;
    }
}

/* Helpers */
.match-height > [class*="col"] {
    display: flex;
    flex-flow: column;
}

.match-height > [class*="col"] > .card {
    flex: 1 1 auto;
}
.w-33 {
    width: 33%;
}

.card {
    border: none !important;
    border-radius: 0.5rem !important;
    box-shadow: 2px 4px 20px #2732331a !important;
}

/* Badge */
.badge {
    font-weight: normal !important;
}

.banned {
    background-color: var(--bs-danger);
}

.active {
    background-color: var(--bs-success);
}

.finished {
    background-color: var(--bs-gray);
}

.reported {
    background-color: var(--bs-warning);
}
.primary {
    background-color: var(--bs-primary);
}

.edit-image {
    display: block !important;
}

/* Navigation */
.nav-item-inactive a {
    font-weight: normal !important;
    color: var(--bs-dark) !important;
}
.nav-item-active a {
    font-weight: 700 !important;
    color: var(--bs-primary) !important;
}

.btn-block {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .mdw100m200px {
        width: calc(100% - 200px) !important;
    }
}
@media screen and (min-width: 1200px) {
    .xlw100m200px {
        width: calc(100% - 200px) !important;
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.button-off {
    background: #eeeeee !important;
}
.button-on {
    background: #1c1c67 !important;
    color: #eeeeee;
}
.button-on:hover {
    color: #eee;
}
.toTop {
    height: 50px;
    width: 50px;
    position: fixed;
    right: 55px;
    bottom: 5%;
    z-index: 1000000;
    border-radius: 10%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    cursor: pointer;
}
.closeBar {
    height: 40px;
    border: 1px solid white;
    border-radius: 10px;
}
#boxBar {
    height: 50px;
    width: 50px;
    top: 3%;
    right: 5%;
    border-radius: 10px;
}
#bar1 {
    transform: rotate(45deg);
}
#bar2 {
    transform: rotate(-45deg);
}

.carouselImg {
    cursor: pointer;
}
#principals {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
  }
#principals::-webkit-scrollbar {
width: 10px;
}

#principals::-webkit-scrollbar-track {
background: #f0f0f0;
border-radius: 20px;
}

#principals::-webkit-scrollbar-thumb {
background-color: #1c1c67;
border-radius: 20px;
}

.avatarImage {
width: 50px;
height: 50px;
border-radius: 100%;
}
.mainAvatarImage {
border-radius: 100%;
height: 50%;
}
a{
text-decoration: none;
}

.footer-logo-text {
    font-size: 60px;
}
@media (max-width: 768px) {
    .footer-logo-text {
        font-size: 20px;
    }
}